@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

.video-stream {
  height: 99vh;
  width: 99vw;
  background-color: white;
}

.video-stream video {
  width: 100%;
  height: 100%;
}

.video-actions {
  height: 10rem;
  width: 5rem;
  position: absolute;
  top: calc((100vh - 10rem) / 2);
  right: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  align-items: center;
  gap: 1rem;
}

.video-actions * {
  cursor: pointer;
}

.record img {
  width: 55px;
  height: 52px;
  margin-left: 0.3rem;
}

.capture img {
  margin: 0.3rem;
  width: 48px;
}

.timer {
  color: black;
  font-size: medium;
}

.title {
  font-size: smaller;
  font-weight: bold;
}

.filter-images {
  position: absolute;
  top: calc((100vh - 20rem) / 2);
  left: 5rem;
  height: 20rem;
  width: 7rem;
  z-index: 2;
}

.filter-image {
  width: 5rem;
  height: 4rem;
  background-image: url("https://picsum.photos/seed/picsum/200/300");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}

.orange {
  background-color: #ffa50052;
}
.brown {
  background-color: #a52a2a59;
}
.pink {
  background-color: #ffc0cb57;
}
.transparent {
  background-color: transparent;
}

.filter-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
